<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.erikphansen.LaunchBar.action.URLEncodeText</string>
	<key>CFBundleName</key>
	<string>URL Encode</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>LBArgument</key>
	<string>Any string</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>Any string</string>
		<key>LBAuthor</key>
		<string>Erik P. Hansen</string>
		<key>LBEmail</key>
		<string>eph@erikphansen.com</string>
		<key>LBResult</key>
		<string>String encoded by `encodeURIComponent`</string>
		<key>LBSummary</key>
		<string>URL encodes the given text</string>
		<key>LBTwitter</key>
		<string>eirkeirkeirk</string>
		<key>LBWebsiteURL</key>
		<string>blog.erikphansen.com</string>
	</dict>
	<key>LBResult</key>
	<string>String encoded by `encodeURIComponent`</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Enter text to encode</string>
</dict>
</plist>
